// var - color - main

$color-primary: #0066A5;
$color-primary-v: #788AA0;
$color-border: #e7e8ec;
$color-font: #0E122B;
$color-fail: #FF4444;
$color-error: #FFBB33;
$color-success: #22B573;


// mixin - font size

@mixin font-size-1 {
    font-size: 26px;
}

@mixin font-size-2 {
    font-size: 22px;
}

@mixin font-size-3 {
    font-size: 20px;
}

@mixin font-size-4 {
    font-size: 18px;
}

@mixin font-size-5 {
    font-size: 16px;
}

@mixin font-size-6 {
    font-size: 14px;
}

@mixin font-size-7 {
    font-size: 12px;
}

@mixin font-size-8 {
    font-size: 10px;
}



// mixin - responsive web

$mobile: 576px;
$mobile_l: 768px;
$tablet: 1024px;
$desktop: 1264px;
$desktop_l: 1576px;

@mixin desktop_l{
  @media (max-width: $desktop_l){
    @content;
  }
}

@mixin desktop{
  @media (max-width: $desktop){
    @content;
  }
}

@mixin tablet{
  @media (max-width: $tablet){
    @content;
  }
}

@mixin mobile_l{
  @media (max-width: $mobile_l){
    @content;
  }
}

@mixin mobile{
  @media (max-width: $mobile){
    @content;
  }
}



// mixin - etc

@mixin bg-img-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin ab-xy-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

@mixin ab-x-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

@mixin ab-y-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

@mixin flex-xy-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin ellipsis($lines: 1) {
    @if ($lines==1) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    } @else {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: $lines;
      -webkit-box-orient: vertical;
    }
}

@mixin afterclear {
	content: '';
	display: block;
	clear: both;
}
