@import "layout";

body {
	&.load {
		.loader_container {
			display: flex;
		}
	}
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background: #5a5d79;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background: #b1b5c3;
}

.control {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
    font-size: 14px;

	&:hover {
		input ~ .control__indicator {
			background: #ccc;
		}

		input:not([disabled]):checked ~ .control__indicator {
			background: #00426c;
		}

	}

	input {
		position: absolute;
		z-index: -1;
		opacity: 0;

		&:focus ~ .control__indicator {
			background: #ccc;
		}

		&:checked ~ .control__indicator {
			background: #0066A5;
		}

		&:checked ~ .control__indicator:after {
			display: block;
		}

		&:disabled ~ .control__indicator {
			background: #e6e6e6;
			opacity: 0.6;
			pointer-events: none;
		}
	}
}

.control__indicator {
	position: relative;
    height: 20px;
    width: 20px;
	border-radius: 4px;
    background: #e6e6e6;

	&::after {
		content: '';
		position: absolute;
		display: none;
	}
}

.control--checkbox {
	line-height: 20px;

	.control__indicator {
		&::after {
			left: 8px;
			top: 3px;
			width: 5px;
			height: 11px;
			border: solid #fff;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
		}
	}

	input {
		&:disabled ~ .control__indicator {
			&::after {
				border-color: #7b7b7b;
			}
		}
	}
}

.vcd-layout {
	display: flex;
	align-items: stretch;
	width: 100%;
	height: 100%;
}

.vcd-nav {
	flex: none;
	position: relative;
	width: 300px;
	border-right: 1px solid $color-border;

	.vcd-logo {
		display: flex;
		flex-direction: column;
		padding: 40px 40px 60px;
		gap: 6px;
		
		img {
			max-width: 220px;
		}

		span {
			color: $color-primary;
			font-weight: 500;
			white-space: nowrap;
		}
	}

	.vcd-navlist {
		padding: 0 20px;

		.vcd-navitem {
			&.active {
				.vcd-navbtn {
					color: #fff;
					background-color: $color-primary;
					box-shadow: 5px 10px 14px rgba($color: $color-primary, $alpha: 0.2);
				}
			}
		}

		.vcd-navbtn {
			display: flex;
			align-items: center;
			position: relative;
			gap: 16px;
			height: 70px;
			width: 100%;
			font-weight: 600;
			font-size: 16px;
			padding: 0 20px;
			border-radius: 16px;
			color: #7D7D87;

			svg {
				flex: none;
				width: 22px;
				height: 22px;
			}
		}
	}

	.copyright {
		position: absolute;
		color: $color-primary-v;
		left: 40px;
		bottom: 40px;
		font-size: 14px;
		white-space: nowrap;
	}
}

.vcd-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-x: overlay;
}

.vcd-header {
	flex: none;
	height: 80px;
	padding: 0 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid $color-border;
	min-width: $desktop;

	.header_info {
		display: flex;
		align-items: center;
		gap: 36px;

		.header_info_item {
			display: flex;
			align-items: center;
			gap: 6px;
			font-size: 16px;
			position: relative;

			&::after {
				content: "";
				display: block;
				width: 1px;
				height: 12px;
				background-color: $color-font;
				@include ab-y-center;
				right: -18px;
			}

			&:last-child {
				&::after {
					display: none;
				}
			}

			h1 {
				font-weight: 600;
				color: $color-primary-v;
			}

			span {
				font-weight: 600;
				color: $color-font;
				display: flex;
				align-items: center;

				&.state_0 {
					&::after {
						content: "";
						display: block;
						width: 12px;
						height: 12px;
						border-radius: 50%;
						background-color: $color-success;
						margin-left: 6px;
					}
				}

				&.state_1 {
					&::after {
						content: "";
						display: block;
						width: 12px;
						height: 12px;
						border-radius: 50%;
						background-color: $color-fail;
						margin-left: 6px;
					}
				}
			}
		}
	}

	.header_usage {
		display: flex;
		align-items: center;
		gap: 24px;

		.header_usage_item {
			display: flex;
			align-items: center;
			gap: 6px;
			font-size: 16px;
			position: relative;

			&::after {
				content: "";
				display: block;
				width: 1px;
				height: 12px;
				background-color: $color-font;
				@include ab-y-center;
				right: -12px;
			}

			&:last-child {
				&::after {
					display: none;
				}
			}

			h1 {
				font-weight: 400;
				color: $color-font;
			}

			span {
				font-weight: 600;
				color: $color-font;

				&.state_0 {
					color: #2380EA;
				}

				&.state_1 {
					color: $color-error;
				}

				&.state_2 {
					color: $color-fail;
				}
			}
		}
	}
}

.vcd-content {
	flex: 1;
	max-height: calc(100vh - 80px);
	background-color: #FAFBFD;
	padding: 32px;
	min-width: $desktop;
}

.card_wrap {
	display: flex;
	align-items: flex-start;
	gap: 32px;
	height: 100%;

	.card {
		flex: 1;

		&:first-child {
			flex: none;
			width: 40%;
		}

		&:only-child {
			flex: 1;
		}
	}
}

.card {
	border-radius: 24px;
	box-shadow: 0px 7px 30px rgba($color: #000000, $alpha: 0.04);
	display: flex;
	flex-direction: column;
	max-height: 100%;

	.card_header {
		padding: 24px;
		background-color: #fff;
		border-bottom: 1px solid $color-border;
		flex: none;
		border-radius: 24px 24px 0 0;
	}

	.card_body {
		flex: 1;
		background-color: #fff;
		overflow: overlay;
		border-radius: 0 0 24px 24px;
	}

	.card_title_wrap {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	.card_title {
		font-size: 18px;
		font-weight: 600;
		color: $color-font;
	}
}

.video_list_top_btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 24px;
	font-weight: 500;

	.btn_text_wrap {
		display: flex;
		align-items: center;
		gap: 12px;

		&::before {
			content: "리스트 접기";
		}

		svg {
			transform: rotate(-180deg);
		}
	}

	&.fold {
		.btn_text_wrap {
			&::before {
				content: "리스트 펼치기";
			}

			svg {
				transform: rotate(0deg);
			}
		}
	}
}

.video_list_area {
	padding: 24px;

	.video_list {
		display: flex;
		flex-wrap: wrap;
		margin-right: -16px;
		gap: 16px 0;
	}

	.video_item {
		width: calc(33.33333333% - 16px);
		margin-right: 16px;
		min-width: 0;
	}

	.video_item_btn {
		width: 100%;
		border-radius: 20px;
		border: 1px solid $color-border;
		overflow: hidden;
		position: relative;
		transition-duration: .15s;
		transition-property: box-shadow;
		transition-timing-function: cubic-bezier(.4,0,.2,1);

		&:hover {
			box-shadow: 0px 4px 6px -4px rgba(13,16,45,.1),0px 10px 15px -3px rgba(13,16,45,.1);
		}
	}

	.video_item_num {
		@include flex-xy-center;
		text-align: center;
		background-color: hsla(0,0%,62%,.4);
		backdrop-filter: blur(10px);
		height: 24px;
		width: 24px;
		border-radius: 50%;
		position: absolute;
		left: 12px;
		top: 12px;
		z-index: 1;
		cursor: pointer;
		color: #fff;
		font-size: 14px;
		font-weight: 600;
		line-height: 1;
		white-space: nowrap;
	}

	.video_img_wrap {
		height: 0;
		padding-bottom: 56.25%;
		position: relative;

		img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			-o-object-position: center;
			object-position: center;
		}
	}

	.video_info_wrap {
		display: flex;
		flex-direction: column;
		gap: 4px;
		padding: 12px;
	}

	.video_info_item {
		display: flex;
		align-items: center;
		gap: 4px;
	}

	.video_info_title {
		color: $color-primary-v;
		font-weight: 500;
		flex: none;
		white-space: nowrap;
	}

	.video_info_content {
		color: $color-font;
		font-weight: 500;
		@include ellipsis(1);
	}
}

.table_head_row {
	display: flex;
	gap: 12px;
	justify-content: space-between;
    margin-top: 24px;
	color: $color-primary-v;
}

.table_container {
	display: flex;
	flex-direction: column;

	&.table_empty {
		.table_row {
			display: none;
		}

		.table_empry_wrap {
			display: flex;
		}
	}
}

.table_empry_wrap {
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 70px 0;
	gap: 24px;

	img {
		width: 300px;
	}

	p {
		font-size: 14px;
		font-weight: 400;
		color: $color-secondary;

		strong {
			color: $color-primary;
			font-weight: 600;
		}
	}
}

.table_row {
	display: flex;
	padding: 12px 24px;
	gap: 12px;
	justify-content: space-between;
	border-bottom: 1px solid $color-border;
	cursor: pointer;

	&:hover {
		background-color: #F4F5F6;
	}
}

.table_cell {
	display: flex;
	align-items: center;
	min-width: 50px;

	span {
		@include ellipsis(1);
		font-weight: 500;
	}

	&.col_1 {
		flex: 0 0 50px;
	}

	&.col_2 {
		flex: 0 0 75px;
	}

	&.col_3 {
		flex: 0 0 100px;
	}

	&.col_4 {
		flex: 0 0 125px;
	}

	&.col_5 {
		flex: 0 0 150px;
	}

	&.col_auto {
		flex: 1 1 auto;
	}

	.thumbnail {
		height: 70px;
		border-radius: 12px;
	}

	.state_wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4px;
		width: 100%;

		&.state_0 {
			color: $color-success;
		}

		&.state_1 {
			color: $color-fail;
		}
	}
}

.filter_wrap {
	display: flex;
	gap: 12px;
}

.filter_dropdown {
	position: relative;
	--select-color: #007aff;
}

.dropdown_btn {
	align-items: center;
    border: none;
    cursor: pointer;
    display: flex;
    min-height: 38px;
    padding: 6px 12px;
    position: relative;

	&:hover {
		.dropdown_btn_border {
			border-color: #191919;
		}
	}

	&.active {
		.filter_value_iconContainer {
			svg {
				transform: rotate(-180deg);
			}
		}

		.dropdown_btn_border {
			border-color: var(--select-color);
		}

		.dropdown_btn_filterLabel {
			color: var(--select-color);
			transform: translate(3px, -19px) scale(0.75);

			&::before {
				content: "";
				position: absolute;
				height: 100%;
				left: -4px;
				right: -4px;
				background-color: #fff;
				z-index: -1;
			}
		}
	}

	&.selected {
		.dropdown_btn_filterLabel {
			color: dimgray;
			transform: translate(3px, -19px) scale(0.75);

			&::before {
				content: "";
				position: absolute;
				height: 100%;
				left: -4px;
				right: -4px;
				background-color: #fff;
				z-index: -1;
			}
		}

		&:hover {
			.dropdown_btn_filterLabel {
				color: #191919;
			}
		}
	}
}

.dropdown_btn_valueContainer {
	align-items: center;
    display: flex;
	min-width: 27px;
    max-width: 150px;
	color: #191919;
}

.dropdown_btn_valueIcon {
	align-items: center;
    display: flex;
    margin-right: 8px;
}

.filter_value_container {
	align-items: baseline;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    padding-right: 1px;
}

.filter_value_valueContainer {
	margin-right: 16px;
    white-space: nowrap;
	line-height: 1;
}

.filter_value_iconContainer {
	margin-left: auto;
	align-self: center;

	svg {
		transition: transform .2s cubic-bezier(0.19, 1, 0.22, 1);
	}
}

.filter_value_valueText {
	color: #191919;
    font-size: 14px;
    font-weight: 500;
	line-height: 1;

	&.hidden {
		visibility: hidden;
	}
}

.dropdown_btn_borderContainer {
	box-sizing: border-box;
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
}

.dropdown_btn_border {
	border-color: #e8e8e8;
    border-width: 1px;
    transition: border-color .2s linear;
}

.dropdown_btn_leading {
	border-bottom-style: solid;
    border-left-style: solid;
    border-radius: 4px 0 0 4px;
    border-top-style: solid;
    width: 10px;
}

.dropdown_btn_notch {
    white-space: nowrap;
    max-width: 128px;
    width: 100%;
	align-items: center;
    border-bottom-style: solid;
    border-top-style: solid;
    display: flex;
}

.dropdown_btn_trailing {
	border-bottom-style: solid;
    border-radius: 0 4px 4px 0;
    border-right-style: solid;
    border-top-style: solid;
    flex-grow: 1;
    min-width: 4px;
}

.dropdown_btn_filterLabel {
	cursor: pointer;
	position: relative;
    transform-origin: left;
    transition: transform .2s cubic-bezier(0.19, 1, 0.22, 1),color .2s linear;
    will-change: transform;
	color: #191919;
    font-size: 14px;
    font-weight: 500;
	transform: translate(27px, 0px) scale(1);
	line-height: 1;
}

.filter_dropdown_content {
	max-height: calc(100vh - 245px);
    overflow: auto;
	min-width: 125px;
	background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    margin-top: 3px;
    position: absolute;
	visibility: hidden;

	&.active {
		visibility: visible;
	}
}

.filter_dropdown_list {
	font-size: 14px;
    overflow-y: auto;
    padding: 8px 16px;
	display: flex;
	flex-direction: column;
}

.filter_dropdown_item {
	padding: 8px 0;
	cursor: pointer;
	font-weight: 500;

	&:hover {
		color: var(--select-color);
	}

	&.selected {
		color: var(--select-color);
	}
}


.outline_btn {
	@include flex-xy-center;
	border: 1px solid #e8e8e8;
	transition: border-color 0.2s linear;
	font-size: 14px;
	font-weight: 500;
	color: #191919;
	min-height: 38px;
	border-radius: 4px;
	padding: 0 12px;
	gap: 8px;
	line-height: 1;

	&:hover {
		border-color: #191919;
	}
}

.solid_btn {
	@include flex-xy-center;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	min-height: 38px;
	border-radius: 4px;
	padding: 0 12px;
	background-color: #000000;
	position: relative;
	overflow: hidden;
	gap: 8px;
	line-height: 1;

	> * {
		position: relative;
		z-index: 1;
	}

	&::before {
		content: "";
		transition: backdrop-filter 0.2s linear;
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 0;
		border-radius: 4px;
	}

	&:hover {
		&::before {
			backdrop-filter: brightness(0.9);
		}

		&.back_btn {
			&::after {
				filter: brightness(0.9);
			}
		}
	}

	&:active {
		&::before {
			backdrop-filter: brightness(0.8);
		}

		&.back_btn {
			&::after {
				filter: brightness(0.8);
			}
		}
	}

	&.delete_btn {
		background-color: $color-fail;
	}

	&.primary_btn {
		background-color: $color-primary;
	}

	&.secondary_btn {
		background-color: $color-secondary;
	}

	&.back_btn {
		overflow: initial;
		margin-left: 15px;

		&::after {
			content: "";
			position: absolute;
			width: 28px;
			height: 28px;
			left: -11px;
			transform: rotate(45deg);
			background-color: $color-secondary;
			z-index: 0;
			border-radius: 4px;
			transition: filter 0.2s linear;
		}
	}
}

.tab_list {
	display: flex;
	align-items: stretch;
    align-self: stretch;

	.tab_item {
		position: relative;

		&:hover {
			color: $color-primary;
		}

		&.active {
			color: $color-primary;
			font-weight: 600;

			&::after {
				content: "";
				width: 100%;
				height: 2px;
				background-color: $color-primary;
				position: absolute;
				bottom: -25px;
				left: 0;
				right: 0;
			}
		}
	}

	.tab_btn {
		height: 100%;
		padding: 0 12px;
		line-height: 1;
	}
}

.video_thumb_area {
	display: flex;
	flex-direction: column;

	.video_thumb_box {
		display: flex;
		flex-direction: column;
		padding: 24px;
		gap: 12px;

		& + .video_thumb_box {
			border-top: 1px solid $color-border;
		}

		h1 {
			font-size: 16px;
			font-weight: 600;
		}
	}

	.video_thumb_wrap {
		display: flex;
		flex-wrap: wrap;
		margin-right: -12px;
		gap: 12px 0;
	}

	.video_thumb_item {
		width: calc(33.33333333% - 12px);
		margin-right: 12px;
		min-width: 0;
	}

	.video_img_wrap {
		height: 0;
		padding-bottom: 56.25%;
		position: relative;
	
		img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			-o-object-position: center;
			object-position: center;
		}
	}
}

.detail_container {
	display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 100%;
}

.detail_area {
	display: flex;
	border-bottom: 1px solid $color-border;

	.detail_box {
		display: flex;
		flex-direction: column;
		padding: 24px;
		gap: 24px;
		flex: 1;

		h1 {
			font-size: 16px;
    		font-weight: 600;
			flex: none;
		}

		& + .detail_box {
			border-left: 1px solid $color-border;
		}
	}

	.detail_list {
		display: flex;
		flex-direction: column;
		gap: 8px;
		flex: 1;
	}

	.detail_item {
		display: flex;
		align-items: center;
		gap: 4px;
	}

	.detail_item_title {
		color: $color-primary-v;
		font-weight: 500;
		flex: none;
		white-space: nowrap;
	}

	.detail_item_content {
		color: $color-font;
		font-weight: 500;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.detail_video_wrap {
		flex: none;

		.video-js {
			width: 100%;
			height: 0;
			padding-bottom: 56.25%;
			position: relative;
		}
	}
}

.detail_info_list_area {
	.table_head_row {
		margin-top: 0;
		padding: 12px 24px;
		border-bottom: 1px solid $color-border;
	}
}

.pagination {
	display: flex;
	justify-content: center;
	line-height: 1;
	padding: 24px 0;

	.page-item {
		&.disabled {
			.page-link {
				color: rgba(146, 158, 172, 0.3);
    			pointer-events: none;
			}
		}
		&.active {
			.page-link {
				background-color: $color-primary;
				color: #fff;
			}
		}
		&:not(.active) {
			.page-link {
				&:hover {
					color: $color-primary;
				}
			}
		}
		.page-link {
			position: relative;
			color: #929EAC;
			border-radius: 100px;
			min-width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 600;
			padding: 0 12px;

			&:focus {
				box-shadow: 0 0 0 0.2rem rgba($color: $color-primary, $alpha: 0.25);
			}
		}

		& + .page-item {
			margin-left: 0.05rem;
		}
	}
}

.form_inner {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	padding: 24px;
	border-bottom: 1px solid $color-border;

	.vcd-input {
		width: calc(50% - 12px);
	}
}

.vcd-input {
	&__label {
		font-size: 14px;
		margin-bottom: 6px;
		font-weight: 500;
		color: #1a3b5d;
		width: 100%;
		display: block;
		user-select: none;
	}

	&__input {
		width: 100%;
		height: 44px;
		border-radius: 4px;
		box-shadow: none;
		border: 1px solid #ced6e0;
		transition: all 0.3s ease-in-out;
		font-size: 16px;
		padding: 4px 14px;
		background: none;
		color: #1a3b5d;

		&:read-only {
			background-color: #FAFBFE;
		}

		&:hover,
		&:focus {
			border-color: #3d9cff;
			outline: none;
		}

		&:focus {
			box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
		}
	}
}

.chart_area {
	padding: 24px;
}

.loader_container {
	position: fixed;
	inset: 0;
	z-index: 2147483647;
	background-color: rgba($color: #fff, $alpha: 0.9);
	backdrop-filter: blur(2px);
	display: none;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader {
	position: relative;
	width: 210px;
	height: 215px;
	transform: rotate(-90deg) scaleX(-1);
	margin-top: -80px;

	div {
		position: absolute;
		left: 0;
		width: 0.5rem;
		height: 0.5rem;
		background: $color-primary;
		border-radius: 1rem;
		opacity: 0;
	}
}

$time: 2s;
$delay: 0.1s;
$padding: 0.6rem;

@for $i from 0 through 25 {
	.loader div:nth-child(#{$i + 1}) {
		top: $i * $padding;

		@if $i % 2==0 {
			background: #ea5504;
			animation: dna_rotate #{$time} #{$i * $delay} infinite ease-in-out;
		}

		@else {
			animation: dna_rotate #{$time} #{$i * $delay + calc($time / 2)} infinite ease-in-out;
		}
	}
}

@keyframes dna_rotate {
	0% {
		opacity: 1;
		transform: scale(1);
		left: 40%;
		z-index: 0;
	}

	25% {
		opacity: 1;
		transform: scale(1.8);
	}

	50% {
		opacity: 1;
		left: 60%;
		z-index: 1;
		transform: scale(1);
	}

	75% {
		opacity: 1;
		transform: scale(0.5);
	}

	100% {
		opacity: 1;
		left: 40%;
		z-index: 0;
		transform: scale(1);
	}
}

.loader_text {
	p {
		font-size: 14px;
		font-weight: 400;
		color: $color-secondary;

		strong {
			color: $color-primary;
			font-weight: 600;
		}
	}
}
 


@include desktop_l {
	.video_list_area .video_item {
		width: calc(50% - 16px);
	}
}