@import "layout";

.vcd-layout {
	display: flex;
	align-items: stretch;
	width: 100%;
	height: 100%;
}

.vcd-nav {
	flex: none;
	position: relative;
	width: 300px;
	border-right: 1px solid $color-border;

	.vcd-logo {
		display: flex;
		flex-direction: column;
		padding: 40px 40px 60px;
		gap: 6px;
		
		img {
			max-width: 220px;
		}

		span {
			color: $color-primary;
			font-weight: 500;
			white-space: nowrap;
		}
	}

	.vcd-navlist {
		padding: 0 20px;

		.vcd-navitem {
			&.active {
				.vcd-navbtn {
					color: #fff;
					background-color: $color-primary;
					box-shadow: 5px 10px 14px rgba($color: $color-primary, $alpha: 0.2);
				}
			}
		}

		.vcd-navbtn {
			display: flex;
			align-items: center;
			position: relative;
			gap: 16px;
			height: 70px;
			width: 100%;
			font-weight: 600;
			font-size: 16px;
			padding: 0 20px;
			border-radius: 16px;
			color: #7D7D87;

			svg {
				flex: none;
				width: 22px;
				height: 22px;
			}
		}
	}
}

.vcd-container {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.vcd-header {
	flex: none;
	height: 80px;
	padding: 0 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid $color-border;

	.header_info {
		display: flex;
		align-items: center;
		gap: 36px;

		.header_info_item {
			display: flex;
			align-items: center;
			gap: 6px;
			font-size: 16px;
			position: relative;

			&::after {
				content: "";
				display: block;
				width: 1px;
				height: 12px;
				background-color: $color-font;
				@include ab-y-center;
				right: -18px;
			}

			&:last-child {
				&::after {
					display: none;
				}
			}

			h1 {
				font-weight: 600;
				color: $color-primary-v;
			}

			span {
				font-weight: 600;
				color: $color-font;
				display: flex;
				align-items: center;

				&.state_0 {
					&::after {
						content: "";
						display: block;
						width: 12px;
						height: 12px;
						border-radius: 50%;
						background-color: $color-success;
						margin-left: 6px;
					}
				}

				&.state_1 {
					&::after {
						content: "";
						display: block;
						width: 12px;
						height: 12px;
						border-radius: 50%;
						background-color: $color-fail;
						margin-left: 6px;
					}
				}
			}
		}
	}

	.header_usage {
		display: flex;
		align-items: center;
		gap: 24px;

		.header_usage_item {
			display: flex;
			align-items: center;
			gap: 6px;
			font-size: 16px;
			position: relative;

			&::after {
				content: "";
				display: block;
				width: 1px;
				height: 12px;
				background-color: $color-font;
				@include ab-y-center;
				right: -12px;
			}

			&:last-child {
				&::after {
					display: none;
				}
			}

			h1 {
				font-weight: 400;
				color: $color-font;
			}

			span {
				font-weight: 600;
				color: $color-font;

				&.state_0 {
					color: #2380EA;
				}

				&.state_1 {
					color: $color-error;
				}

				&.state_2 {
					color: $color-fail;
				}
			}
		}
	}
}

.vcd-content {
	flex: 1;
	background-color: #FAFBFD;
	padding: 32px;
}

.card_wrap {
	display: flex;
	align-items: stretch;
	gap: 32px;

	.card {
		flex: 1;

		&:first-child {
			flex: none;
			width: 640px;
		}
	}
}

.card {
	background-color: #fff;
	border-radius: 24px;
	box-shadow: 0px 7px 30px rgba($color: #000000, $alpha: 0.04);

	.card_title_wrap {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 24px 24px 0;
	}

	.card_title {
		font-size: 18px;
		font-weight: 600;
		color: $color-font;
	}

	.card_body {
		margin-top: 32px;
	}
}

.video_list_top_btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 24px 20px;
	font-size: 16px;

	.path_wrap {
		display: flex;
		align-items: center;
		gap: 12px;
	}
}

.video_list_area {
	border-top: 1px solid $color-border;
	padding: 24px;

	.video_list {
		display: flex;
		flex-wrap: wrap;
		margin-right: -16px;
		gap: 16px 0;
	}

	.video_item {
		width: calc(33.33333333% - 16px);
		margin-right: 16px;
		min-width: 0;
	}

	.video_item_btn {
		width: 100%;
		border-radius: 20px;
		border: 1px solid $color-border;
		overflow: hidden;
		position: relative;
		transition-duration: .15s;
		transition-property: box-shadow;
		transition-timing-function: cubic-bezier(.4,0,.2,1);

		&:hover {
			box-shadow: 0px 4px 6px -4px rgba(13,16,45,.1),0px 10px 15px -3px rgba(13,16,45,.1);
		}
	}

	.video_item_num {
		@include flex-xy-center;
		text-align: center;
		background-color: hsla(0,0%,62%,.4);
		backdrop-filter: blur(10px);
		height: 24px;
		width: 24px;
		border-radius: 50%;
		position: absolute;
		left: 12px;
		top: 12px;
		z-index: 1;
		cursor: pointer;
		color: #fff;
		font-size: 14px;
		font-weight: 600;
		line-height: 1;
		white-space: nowrap;
	}

	.video_img_wrap {
		height: 0;
		padding-bottom: 56.25%;
		position: relative;

		img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			-o-object-position: center;
			object-position: center;
		}
	}

	.video_info_wrap {
		display: flex;
		flex-direction: column;
		gap: 4px;
		padding: 12px;
	}

	.video_info_item {
		display: flex;
		align-items: center;
		gap: 4px;
	}

	.video_info_title {
		color: $color-primary-v;
		font-weight: 500;
		flex: none;
		white-space: nowrap;
	}

	.video_info_content {
		color: $color-font;
		font-weight: 500;
		@include ellipsis(1);
	}
}